.header-toolbar {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 35px;
  margin-top: 4px;
  text-align: center;
}

.home-icon {
  font-size: 42px;
}

ion-content {
  --background: #ffffff;
}
  .ion-text-center {
    color: #000000;
    font-size: 20px;
  }

ion-footer {
    ion-toolbar {
      ion-row.button-row {
        display: flex;
        justify-content: center;
        align-items: center;
  
        ion-col.button-col {
          ion-button {
            border-radius: 30px;
            --padding-start: 8px;
            --padding-end: 8px;
            --padding-top: 4px;
            --padding-bottom: 4px;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
  