/* Global styles */
* {
  box-sizing: border-box;
  margin: 1;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */

.header-toolbar {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
}

.camera-icon {
  font-size: 30px;
  margin-right: 8px;
}


h3.ion-padding {
  text-align: center;
  margin-bottom: 1px;
}

ion-item {

  align-items: center;
  margin-bottom: 1px;
  padding: 1px;
  border-radius: 1px;
  background-color: #f5f5f5;
}

ion-thumbnail {
  width: fit-content;
  height: 70px;
  margin-right: 1px;
}

ion-label {
  flex: 1;
  overflow-wrap: break-word;
}

ion-content {
  --background: #ffffff;
}
  .ion-text-center {
    color: #000000;
    font-size: 20px;
  }

  /* Footer */

ion-footer {
    ion-toolbar {
      ion-row.button-row {
        display: flex;
        justify-content: center;
        align-items: center;
  
        ion-col.button-col {
          ion-button {
            border-radius: 30px;
            --padding-start: 8px;
            --padding-end: 8px;
            --padding-top: 4px;
            --padding-bottom: 4px;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
  