<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Please Select an Image!</h3>

  <ion-list>
    <ion-item *ngFor="let file of images; let i = index">
      <ion-thumbnail slot="start">
        <ion-img [src]="file.data"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">{{ file.name }}</ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(file)" class="upload-button">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(file)" class="delete-button">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="addToFavorites(file)" [disabled]="isFavorite(file)">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-row class="button-row">
      <ion-col size="2" class="button-col">
        <ion-button fill="clear" expand="full" color="light" (click)="selectImage()" class="choose-button">
          <ion-icon slot="start" name="image"></ion-icon>
          Choose a Picture
        </ion-button>
      </ion-col>
      <ion-col size="2" class="button-col">
        <ion-button fill="clear" expand="full" color="light" (click)="takePhoto()" class="camera-button">
          <ion-icon slot="start" name="camera"></ion-icon>
          Take a Photo
        </ion-button>
      </ion-col>
      <ion-col size="2" class="button-col">
        <ion-button fill="clear" expand="full" color="light" (click)="openGallery()" class="images">
          <ion-icon slot="start" name="images"></ion-icon>
          Open Gallery
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
