<ion-header>
  <ion-toolbar color="primary" class="header-toolbar">
    <ion-buttons slot="start">
      <ion-icon name="images" class="gallery-icon"></ion-icon>
    </ion-buttons>
    <ion-title class="header-title">Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="photo-grid">
    <div class="photo-grid__row">
      <div class="photo-grid__col" *ngFor="let image of images">
        <ion-thumbnail>
          <ion-img [src]="image.data"></ion-img>
        </ion-thumbnail>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="deleteAll()">
      <ion-icon name="trash"></ion-icon>
      Delete All Images
    </ion-button>
    <ion-button expand="full" color="secondary" (click)="goBack()">
      <ion-icon name="home"></ion-icon>
      Home Page
    </ion-button>
  </ion-toolbar>
</ion-footer>
