/* Global styles */
* {
  box-sizing: border-box;
  margin: 1;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */

.header-toolbar {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
}

.gallery-icon {
  font-size: 30px;
  margin-right: 8px;
}

/* Content styles */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.photo-grid__row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.photo-grid__col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0.5rem;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container ion-thumbnail {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.image-container ion-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-details {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.photo-details ion-item {
  margin-bottom: 0.5rem;
}

/* Buttons */

ion-footer {
  ion-toolbar {
    ion-row.button-row {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-col.button-col {
        ion-button {
          border-radius: 30px;
          --padding-start: 8px;
          --padding-end: 8px;
          --padding-top: 4px;
          --padding-bottom: 4px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

ion-content {
  --background: #ffffff;
}

/* Responsive styles */
@media (min-width: 576px) {
  .photo-grid__col {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .photo-grid__col {
    flex: 0 0 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
  }
}

@media (min-width: 992px) {
  .photo-grid__col {
    flex: 0 0 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}