<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="photo-grid">
    <div class="photo-grid__row">
      <div class="photo-grid__col" *ngFor="let image of images">
        <ion-thumbnail>
          <ion-img [src]="image.data"></ion-img>
        </ion-thumbnail>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="deleteAll()">
      Delete All
    </ion-button>
    <ion-button expand="full" color="danger" (click)="goBack()">
      Go Back
    </ion-button>
  </ion-toolbar>
</ion-footer>
