.header-toolbar {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 35px;
  margin-top: 4px;
  text-align: center;
}

ion-content {
  --background: #ffffff;
}

.favorites-icon {
  font-size: 30px;
  margin-right: 8px;
}

.photo-img {
  height: auto;
  width: auto;
  object-fit: cover;
}
