<ion-content class="ion-padding">
  <div class="grid-container">
    <h1>Welcome to my Camera App</h1>
    <h2><ion-icon name="person" color="success"></ion-icon>Renan Araujo Borges</h2>
    <h2><ion-icon name="school" color="warning"></ion-icon>2022307</h2>
  </div>


  <div class="question-section">
    <p>Please choose an option:</p>
    <div class="button-container">
      <ion-button expand="block" size="small" color="primary" (click)="goToCameraPage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Take Photo
      </ion-button>
      <ion-button expand="block" size="small" color="primary" (click)="goToGalleryPage()">
        <ion-icon slot="start" name="images"></ion-icon>
        Gallery
      </ion-button>
      <ion-button expand="block" size="small" color="primary" (click)="goToFavoritesPage()">
        <ion-icon slot="start" name="heart" color="danger"></ion-icon>
        Favorites
      </ion-button>
    </div>
  </div>
</ion-content>