ion-content {
  --background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  text-align: center;
  color: #040404;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container h1,
.grid-container h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.grid-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #040404;
}

.grid-container h2 {
  font-size: 1.8rem;
  color: #040404;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.grid-container h2 ion-icon {
  margin-right: 1rem;
}


.question-section {
  text-align: center;
  margin-bottom: 2rem;
}

.question-section p {
  font-size: 2rem;
  color: #0f0f0f;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* Align buttons from left to right */
  margin-top: 20px;
  gap: 1px;
  /* Adjust the gap between buttons */
}

ion-button {
  flex: 0 0 auto;
  width: 30%;
  height: 60px;
  --background: #000000;
  --color: #ffffff;
  --padding-start: 0;
  --padding-end: 0;
  font-weight: bold;
  /* Add font-weight property */
  font-size: 1.1rem;
  /* Adjust the font size as desired */
}

ion-button {
  font-size: 1.3rem;
}